#imagen1,#imagen2{
  transition: transform, 1s;
}
#imagen1:hover{
  transform: rotate(10deg);
  box-shadow: 2px #82c3a6;
  border: 2px solid #82c3a6;
}
#imagen2:hover{
  transform: translate(20px, -5px);

}
.content_image #imagen-1{
  filter: blur(10px);
}
#imagen-2, #imagen-4, #imagen-6{
  filter:grayscale(100%);
}
#imagen-3{
  filter:sepia(90%);
}

.encabezado {
  animation-duration: 3s;
  animation-name: slidein;

}
@keyframes slidein {

  0%{
    margin-top: 150%;
  }

  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }
}
